@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f8f9fa;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Noto Sans', sans-serif;
}

.btn {
    color: black;
    border-color: black;
}



.date {
    margin-left: auto;
}

.nav-item {
    margin-left: 20px;
}

.navbar {
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    flex-direction: row;
    margin-left: auto;
}

.main {
    padding: 40px;
    flex-direction: column;
    display: flex;
    background-color: #efefef;
    max-width: 888px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.main .btn {
    margin-left: auto;
    width: 160px;
}



.mb-3 {
    margin-top: 1.5rem;
    margin-bottom: 2rem !important;
}
